h1{
    background-color: brown;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
}

footer{
    background-color: brown;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
}

.main{
    border-collapse: collapse;
    width: 100%;
}

.main td, .main th{
    border-style: solid;
    padding: 10px;
}
footer table{
    margin: auto;
}

table img{
    border-radius: 5px;
}
